<section id="login-form">

  <div class="logo">
    <%= link_to root_path do %>
      <i class="icon-logo"></i>
    <% end %>
  </div>

  <%= admin_partial 'status' %>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.button :submit, "Sign In", :class => 'block' %>
    <%= render "devise/shared/links" %>
  <% end %>

</section>
